#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.maaltafelContainer {
  margin-top: 1.7em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.maaltafelInput {
  font-size: 1.1rem;
  padding: 0.4em 0.6em;
  width: 3em;
  margin-bottom: 1em;
}

.maaltafelTable {
  border-collapse: collapse;
  margin-bottom: 2em;
}

.maaltafelTable td, .maaltafelTable th {
  border: 1px solid #bbb;
  padding: 0.6em 1.2em;
  text-align: center;
  font-size: 1.1em;
}
