.topNavigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 200, 162);
}

.topNavigation li {
    float: left;
}

.topNavigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.topNavigation li a:hover{
    background-color: rgb(26, 200, 162);
}

.active {
    background-color: rgb(26, 200, 162);
}

.notactive {
    background-color: rgb(26, 200, 162);
}